*{
    font-family: 'Lato', sans-serif;
    background-color: #1d1d1d;
    color: white;
    margin: 0;
    scroll-behavior: smooth;
  }

  #main{
    width: 100%;
  }

  .content{
    padding-top: 1%;
    min-height: 1500px;
    max-height: fit-content;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }