*{
  font-family: 'Lato', sans-serif;
  background-color: #1d1d1d;
  color: white;
  margin: 0;
  scroll-behavior: smooth;
}


#main{
  width: 100%;
}

header{
  position: relative;
  background-image: url(../resources/paralax.png);
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
}

.title{
  background: none;
  padding-top: 6%;
  padding-right: 10%;
}
nav{
  position: sticky;
  top: 0;
}

.menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0d0d0d;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  background-color: #0d0d0d;
  transition: 0.5s ease;
}

.menu li a:hover{
  background-color: #262626;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s ease;
  box-shadow: 0 0 5px #1e1e1e;
}

.menu a:link{
  text-decoration: none;
}

#bar ul{
  position: absolute;
  animation: none;
  transition: none;
  display: none;
}


#bar li:hover ul{
  animation: none;
  transition: none;
  display: block;
}

.content{
  padding-top: 1%;
  min-height: 1500px;
  max-height: fit-content;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

footer{
  background: #000000;
  height: 30px;
  position: sticky;
  bottom: 0px;
  padding: 3px;
  text-align: left;
  width: 100%;
}

.text{
  font-size: large;
  text-align: justify;
}

.bigLetter::first-letter{
  font-size: larger;
  text-decoration: underline;
}

#left{
  width: 80vw; 
}

#right{
  text-align: center;
  width: auto;
}

.sTop{
  scroll-margin-top: 50px;
}

#mobile{
  display: none;
  text-align: center;
  height: 256px;
  background-image: url(../resources/photo1.png);
  background-size: cover;
}
#mobile h1{
  background: transparent;
}

#mob{
  border: none;
  background-color: #343333;
  font-size: large;
  padding: 4px;
}

#mob ul{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343333;
}

#mobileNav{
  font-size: large;
  background: none;
  text-decoration: none;
}

#mob:hover  ul{
  animation: none;
  transition: none;
  display: block; 
}

table, th{
  border: none;
  word-wrap: normal;
  width: 15vw;
  background-color: #000000;
}

.funButton{
  width: 60%;
  height: auto;
  border: none;
  background-color: #0d0d0d;
  border-radius: 5px;
}

.funButton:hover{
  background-color: #343333;
}

@media screen and (max-width: 900px){
  #right{
    display: none;
  }
  #left{
    width: 100vw;
    padding: 5px;
  }
  nav{
    display: none;
  }
  header{
    display: none;
  }
  #mobile{
    display: block;
  }
  .text{
    padding-bottom: 15%;
  }
}

